# Limpieza de seguros

In [1]:
import pandas as pd
import numpy as np

### Atributes

In [2]:
df_atributes = pd.read_csv("Data/Plan_Attributes_PUF.csv")
df_atributes

C:\Users\chuzd\AppData\Local\Temp\ipykernel_2724\2747123427.py:1: DtypeWarning: Columns (27,64,80,81,82,86,87,88,89,90,91,111,122,123,124,125,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df_atributes = pd.read_csv("Data/Plan_Attributes_PUF.csv")

,BusinessYear,StateCode,IssuerId,IssuerMarketPlaceMarketingName,SourceName,ImportDate,MarketCoverage,DentalOnlyPlan,StandardComponentId,PlanMarketingName,...,TEHBDedOutOfNetFamilyPerPerson,TEHBDedOutOfNetFamilyPerGroup,TEHBDedCombInnOonIndividual,TEHBDedCombInnOonFamilyPerPerson,TEHBDedCombInnOonFamilyPerGroup,IsHSAEligible,HSAOrHRAEmployerContribution,HSAOrHRAEmployerContributionAmount,URLForSummaryofBenefitsCoverage,PlanBrochure
0,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,Individual,Yes,21989AK0030001,Delta Dental Premier Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
1,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,Individual,Yes,21989AK0030001,Delta Dental Premier Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
2,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0030051,"Delta Dental Premier, +1500, 100*/80/50, 50, PF",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
3,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0030052,"Delta Dental Premier, +1000, 100*/80/50, 50, PF",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
4,2023,AK,21989,Delta Dental of Alaska,HIOS,11/19/2022 1:01,SHOP (Small Group),Yes,21989AK0040051,PPO Plus 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,https://www.deltadentalak.com/-/media/deltaden...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32523,2023,WY,80132,Renaissance Dental,HIOS,6/16/2022 1:01,Individual,Yes,80132WY0060004,Wyoming Preferred Plan (Pediatric Only),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32524,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,Individual,Yes,83964WY0010003,Delta Dental Individual and Family Low Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32525,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,Individual,Yes,83964WY0010004,Delta Dental Individual & Family High Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32526,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,SHOP (Small Group),Yes,83964WY0020003,Delta Dental Small Group Low Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
32527,2023,WY,83964,Delta Dental of Wyoming,HIOS,6/16/2022 1:01,SHOP (Small Group),Yes,83964WY0020004,Delta Dental Small Group High Plan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,

Selección de columnas después de revisión

In [3]:
df_atributes = df_atributes[[
    "StandardComponentId",
    "PlanId",
    "StateCode",
    "IssuerMarketPlaceMarketingName",
    "MarketCoverage",
    "DentalOnlyPlan",
    "PlanType",
    "MetalLevel",
    "QHPNonQHPTypeId",
    "IsNoticeRequiredForPregnancy",
    "IsReferralRequiredForSpecialist",
    "ChildOnlyOffering",
    "DiseaseManagementProgramsOffered",
    "PlanEffectiveDate",
    "PlanExpirationDate",
    "OutOfCountryCoverage",
    "MedicalDrugMaximumOutofPocketIntegrated",
    "SBCHavingaBabyDeductible",
    "SBCHavingDiabetesDeductible",
    "SBCHavingSimplefractureDeductible",
    "BeginPrimaryCareCostSharingAfterNumberOfVisits"
]]

In [4]:
df_atributes.isna().sum()

StandardComponentId                                   0
PlanId                                                0
StateCode                                             0
IssuerMarketPlaceMarketingName                        0
MarketCoverage                                        0
DentalOnlyPlan                                        0
PlanType                                              0
MetalLevel                                            0
QHPNonQHPTypeId                                       0
IsNoticeRequiredForPregnancy                       1584
IsReferralRequiredForSpecialist                    1567
ChildOnlyOffering                                     0
DiseaseManagementProgramsOffered                   5227
PlanEffectiveDate                                     0
PlanExpirationDate                                13317
OutOfCountryCoverage                                  0
MedicalDrugMaximumOutofPocketIntegrated            1584
SBCHavingaBabyDeductible                           1584
SBCHavingDiabetesDeductible                        1584
SBCHavingSimplefractureDeductible                  1584
BeginPrimaryCareCostSharingAfterNumberOfVisits        0
dtype: int64

Filtrado de seguros completamente dentales

In [5]:
df_atributes = df_atributes[df_atributes["DentalOnlyPlan"] == "No"]

In [6]:
df_atributes.shape

(30944, 21)

In [7]:
df_atributes.isna().sum()

StandardComponentId                                   0
PlanId                                                0
StateCode                                             0
IssuerMarketPlaceMarketingName                        0
MarketCoverage                                        0
DentalOnlyPlan                                        0
PlanType                                              0
MetalLevel                                            0
QHPNonQHPTypeId                                       0
IsNoticeRequiredForPregnancy                          0
IsReferralRequiredForSpecialist                       0
ChildOnlyOffering                                     0
DiseaseManagementProgramsOffered                   3643
PlanEffectiveDate                                     0
PlanExpirationDate                                12913
OutOfCountryCoverage                                  0
MedicalDrugMaximumOutofPocketIntegrated               0
SBCHavingaBabyDeductible                              0
SBCHavingDiabetesDeductible                           0
SBCHavingSimplefractureDeductible                     0
BeginPrimaryCareCostSharingAfterNumberOfVisits        0
dtype: int64

Ahora rellenaremos las columnas que tienen nulos DiseaseManagementProgramsOffered

In [8]:
df_atributes["DiseaseManagementProgramsOffered"].unique()

array(['Asthma, Heart Disease, Diabetes', nan,
       'Asthma, Heart Disease, Diabetes, Pregnancy',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pain Management, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pain Management, Pregnancy',
       'Asthma, Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy',
       'Asthma, Diabetes, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Pain Management, Pregnancy',
       'Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy',
       'Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Pain Management',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Depression, Diabetes',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pain Management',
       'Asthma, Diabetes', 'Diabetes, Weight Loss Programs', 'Diabetes',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Pain Management',
       'Heart Disease, Diabetes, High Blood Pressure & High Cholesterol',
       'Asthma, Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Weight Loss Programs',
       'Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Weight Loss Programs',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol',
       'Asthma, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pain Management, Pregnancy, Weight Loss Programs',
       'Asthma, Depression, Diabetes, Pregnancy',
       'Asthma, Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Diabetes, High Blood Pressure & High Cholesterol',
       'Asthma, Heart Disease, Depression, Diabetes, Pregnancy',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Diabetes, High Blood Pressure & High Cholesterol, Pain Management, Pregnancy, Weight Loss Programs',
       'Asthma, Heart Disease, Depression, Diabetes, Pain Management, Pregnancy',
       'Asthma, Heart Disease, High Blood Pressure & High Cholesterol, Pregnancy, Weight Loss Programs',
       'Asthma, Depression, Diabetes, High Blood Pressure & High Cholesterol, Pregnancy',
       'Asthma, Depression, Diabetes',
       'Asthma, Heart Disease, Depression, Diabetes, High Blood Pressure & High Cholesterol, Low Back Pain, Pain Management, Weight Loss Programs',
       'Heart Disease, Diabetes',
       'Asthma, Heart Disease, Depression, Diabetes, Low Back Pain, Pain Management, Pregnancy, Weight Loss Programs'],
      dtype=object)

In [9]:
df_atributes["DiseaseManagementProgramsOffered"] = df_atributes["DiseaseManagementProgramsOffered"].fillna("None")

In [10]:
df_atributes.isna().sum()

StandardComponentId                                   0
PlanId                                                0
StateCode                                             0
IssuerMarketPlaceMarketingName                        0
MarketCoverage                                        0
DentalOnlyPlan                                        0
PlanType                                              0
MetalLevel                                            0
QHPNonQHPTypeId                                       0
IsNoticeRequiredForPregnancy                          0
IsReferralRequiredForSpecialist                       0
ChildOnlyOffering                                     0
DiseaseManagementProgramsOffered                      0
PlanEffectiveDate                                     0
PlanExpirationDate                                12913
OutOfCountryCoverage                                  0
MedicalDrugMaximumOutofPocketIntegrated               0
SBCHavingaBabyDeductible                              0
SBCHavingDiabetesDeductible                           0
SBCHavingSimplefractureDeductible                     0
BeginPrimaryCareCostSharingAfterNumberOfVisits        0
dtype: int64

In [11]:
NoDental = df_atributes[["StandardComponentId", "PlanId"]]
NoDental.head()

   StandardComponentId             PlanId
29      38344AK1060001  38344AK1060001-03
30      38344AK1060001  38344AK1060001-02
31      38344AK1060001  38344AK1060001-01
32      38344AK1060002  38344AK1060002-03
33      38344AK1060002  38344AK1060002-05

### Rates

In [12]:
df_rates = pd.read_csv("DataSegurosP/Rates.csv").rename(columns={"PlanId":"StandardComponentId", 
                                                                 "category":"rate_category"})
df_rates.head()

  StateCode  IssuerId StandardComponentId            Age   rate rate_category
0        AK     21989      21989AK0110001  Family Option  76.59    Individual
1        AK     21989      21989AK0030001           0-14  63.00    Individual
2        AK     21989      21989AK0110001  Family Option  73.82    Individual
3        AK     21989      21989AK0110001  Family Option  74.74    Individual
4        AK     21989      21989AK0110001  Family Option  75.66    Individual

In [13]:
df_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4194059 entries, 0 to 4194058
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   StateCode            object
 1   IssuerId             int64
 2   StandardComponentId  object
 3   Age                  object
 4   rate                 float64
 5   rate_category        object
dtypes: float64(1), int64(1), object(4)
memory usage: 192.0+ MB

In [14]:
df_rates.shape

(4194059, 6)

In [15]:
df_rates = df_rates[df_rates["StandardComponentId"].isin(NoDental["StandardComponentId"])]
df_rates.shape

(3217641, 6)

In [16]:
df_rates["rate_category"].unique()

array(['Individual', 'Tobbacco'], dtype=object)

Vamos a dejar la categoría de tabbaco y puesto que Census no tiene información de fumadores dejaremos que esto sea filtrado por el usuario cuando busque su seguro, así si fuma presiona un botón y se le mostrarán todos los seguros que incluyen afumadores.

Modificaremos la columna de Age para que contenga las edades como números y no como rangos

In [17]:
df_rates["Age"].unique()

array(['0-14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46',
       '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63', '64 and over'], dtype=object)

In [18]:
df_rates["Age"] = df_rates["Age"].str.replace("0-14", "14")

df_rates["Age"] = df_rates["Age"].str.replace("64 and over", "64")
df_rates

        StateCode  IssuerId StandardComponentId Age     rate rate_category
722            AK     38344      38344AK1060001  14   446.73    Individual
723            AK     38344      38344AK1060001  15   486.44    Individual
724            AK     38344      38344AK1060001  16   501.62    Individual
725            AK     38344      38344AK1060001  17   516.80    Individual
726            AK     38344      38344AK1060001  18   533.16    Individual
...           ...       ...                 ...  ..      ...           ...
4187117        WV     50328      50328WV0020027  60  1513.49      Tobbacco
4187118        WV     50328      50328WV0020027  61  1567.03      Tobbacco
4187119        WV     50328      50328WV0020027  62  1602.16      Tobbacco
4187120        WV     50328      50328WV0020027  63  1646.21      Tobbacco
4187121        WV     50328      50328WV0020027  64  1672.98      Tobbacco

[3217641 rows x 6 columns]

In [19]:
df_rates = df_rates.astype({"Age":"int16"})
df_rates.dtypes

StateCode               object
IssuerId                 int64
StandardComponentId     object
Age                      int16
rate                   float64
rate_category           object
dtype: object

Investigamos que las personas en Estados Unidos están dispuestos a pagar entre un 2 y 5 porciento de su salario mensual en seguros, por lo tanto generaremos un columna que suponga que se pagará un 4% en los seguros y que nos indique cuál debe ser el income minimo mensual que deben tener para pagarlo. Y después cuál es el income mínimo anual para relacionarlo con la tabla de los perfiles.

In [20]:
df_rates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3217641 entries, 722 to 4187121
Data columns (total 6 columns):
 #   Column               Dtype
---  ------               -----
 0   StateCode            object
 1   IssuerId             int64
 2   StandardComponentId  object
 3   Age                  int16
 4   rate                 float64
 5   rate_category        object
dtypes: float64(1), int16(1), int64(1), object(3)
memory usage: 153.4+ MB

In [21]:
df_rates["income_monthly"] = df_rates["rate"] / 0.05
df_rates["income_anualy"] = df_rates["income_monthly"] * 12
df_rates.head()

,StateCode,IssuerId,StandardComponentId,Age,rate,rate_category,income_monthly,income_anualy
722,AK,38344,38344AK1060001,14,446.73,Individual,8934.6,107215.2
723,AK,38344,38344AK1060001,15,486.44,Individual,9728.8,116745.6
724,AK,38344,38344AK1060001,16,501.62,Individual,10032.4,120388.8
725,AK,38344,38344AK1060001,17,516.80,Individual,10336.0,124032.0
726,AK,38344,38344AK1060001,18,533.16,Individual,10663.2,127958.4

### Business Rules

In [22]:
df_brules = pd.read_csv("Data/Business_Rules_PUF.csv")
df_brules.head()

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,MedicalDentalBoth,ProductId,StandardComponentId,MedicalDentalIndicator,MaximumUnderageDependent,DependentMaximumAgRule,AgeDeterminationRule,MinimumTobaccoFreeMonthsRule,CohabitationRule,MarketCoverage,DentalOnlyPlan
0,2023,AK,21989,HIOS,11/19/2022 1:01,Dental,21989AK003,21989AK0030001,Dental,3,25,Age on effective date,Not Applicable,"Child,No;Foster Child,No;Grandson or Granddaug...",Individual,Yes
1,2023,AK,21989,HIOS,11/19/2022 1:01,Dental,21989AK003,21989AK0030051,Dental,3,25,Age on effective date,Not Applicable,"Child,No;Foster Child,No;Grandson or Granddaug...",SHOP (Small Group),Yes
2,2023,AK,21989,HIOS,11/19/2022 1:01,Dental,21989AK003,21989AK0030052,Dental,3,25,Age on effective date,Not Applicable,"Child,No;Foster Child,No;Grandson or Granddaug...",SHOP (Small Group),Yes
3,2023,AK,21989,HIOS,11/19/2022 1:01,Dental,21989AK004,21989AK0040051,Dental,3,25,Age on effective date,Not Applicable,"Child,No;Foster Child,No;Grandson or Granddaug...",SHOP (Small Group),Yes
4,2023,AK,21989,HIOS,11/19/2022 1:01,Dental,21989AK004,21989AK0040052,Dental,3,25,Age on effective date,Not Applicable,"Child,No;Foster Child,No;Grandson or Granddaug...",SHOP (Small Group),Yes

In [23]:
df_brules.shape

(7453, 16)

In [24]:
df_brules = df_brules[[
    "StandardComponentId",
    "StateCode",
    "MedicalDentalBoth",
    "ProductId",
    "MaximumUnderageDependent",
    "DependentMaximumAgRule",
    "MarketCoverage"
]]

df_brules.head()

,StandardComponentId,StateCode,MedicalDentalBoth,ProductId,MaximumUnderageDependent,DependentMaximumAgRule,MarketCoverage
0,21989AK0030001,AK,Dental,21989AK003,3,25,Individual
1,21989AK0030051,AK,Dental,21989AK003,3,25,SHOP (Small Group)
2,21989AK0030052,AK,Dental,21989AK003,3,25,SHOP (Small Group)
3,21989AK0040051,AK,Dental,21989AK004,3,25,SHOP (Small Group)
4,21989AK0040052,AK,Dental,21989AK004,3,25,SHOP (Small Group)

In [25]:
df_brules = df_brules[df_brules["StandardComponentId"].isin(NoDental["StandardComponentId"])]
df_brules.head()

,StandardComponentId,StateCode,MedicalDentalBoth,ProductId,MaximumUnderageDependent,DependentMaximumAgRule,MarketCoverage
26,38344AK1060001,AK,Medical,38344AK106,3,25,Individual
27,38344AK1060002,AK,Medical,38344AK106,3,25,Individual
28,38344AK1060004,AK,Medical,38344AK106,3,25,Individual
29,38344AK1070002,AK,Medical,38344AK107,3,25,Individual
30,38344AK1080001,AK,Medical,38344AK108,3,25,Individual

In [26]:
df_brules.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6366 entries, 26 to 7448
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   StandardComponentId       6366 non-null   object
 1   StateCode                 6366 non-null   object
 2   MedicalDentalBoth         6366 non-null   object
 3   ProductId                 6366 non-null   object
 4   MaximumUnderageDependent  6366 non-null   object
 5   DependentMaximumAgRule    6366 non-null   object
 6   MarketCoverage            6366 non-null   object
dtypes: object(7)
memory usage: 397.9+ KB

In [27]:
df_brules.isna().sum()

StandardComponentId         0
StateCode                   0
MedicalDentalBoth           0
ProductId                   0
MaximumUnderageDependent    0
DependentMaximumAgRule      0
MarketCoverage              0
dtype: int64

In [28]:
df_brules["MarketCoverage"].unique()

array(['Individual', 'SHOP (Small Group)'], dtype=object)

In [29]:
df_brules.shape

(6366, 7)

### Benefits

In [30]:
df_benefits = pd.read_csv("Data/Benefits_Cost_Sharing_PUF.csv")
df_benefits.head()

C:\Users\chuzd\AppData\Local\Temp\ipykernel_2724\1263371556.py:1: DtypeWarning: Columns (9,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_benefits = pd.read_csv("Data/Benefits_Cost_Sharing_PUF.csv")

,BusinessYear,StateCode,IssuerId,SourceName,ImportDate,StandardComponentId,PlanId,BenefitName,CopayInnTier1,CopayInnTier2,...,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit,Exclusions,Explanation,EHBVarReason,IsExclFromInnMOOP,IsExclFromOonMOOP
0,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Routine Dental Services (Adult),Not Applicable,NaN,...,NaN,Covered,Yes,1100.0,Dollars per Year,NaN,"$1,100 annual maximum plan payment limit combi...",Not EHB,Yes,Yes
1,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Dental Check-Up for Children,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,See policy for additional limitations,Substantially Equal,No,No
2,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Basic Dental Care - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No
3,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Orthodontia - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,Only medically necessary orthodontia is covered,Substantially Equal,No,No
4,2023,AK,21989,HIOS,2022-11-19 01:01:13,21989AK0030001,21989AK0030001-00,Major Dental Care - Child,Not Applicable,NaN,...,Yes,Covered,NaN,NaN,NaN,NaN,NaN,NaN,No,No

In [31]:
df_benefits = df_benefits[[
    "StateCode",
    "StandardComponentId",
    "PlanId",
    "BenefitName",
    "IsEHB",
    "IsCovered",
    "QuantLimitOnSvc",
    "LimitQty",
    "LimitUnit"
]]

In [32]:
df_benefits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2219416 entries, 0 to 2219415
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   StateCode            object
 1   StandardComponentId  object
 2   PlanId               object
 3   BenefitName          object
 4   IsEHB                object
 5   IsCovered            object
 6   QuantLimitOnSvc      object
 7   LimitQty             float64
 8   LimitUnit            object
dtypes: float64(1), object(8)
memory usage: 152.4+ MB

In [33]:
df_benefits.isna().sum()

StateCode                    0
StandardComponentId          0
PlanId                       0
BenefitName                  0
IsEHB                   578360
IsCovered               126678
QuantLimitOnSvc        1612831
LimitQty               1924124
LimitUnit              1924091
dtype: int64

Haremos un filtro para eliminar los seguros dentales de esta tabla

In [34]:
df_benefits = df_benefits[df_benefits["StandardComponentId"].isin(NoDental["StandardComponentId"])]
df_benefits

,StateCode,StandardComponentId,PlanId,BenefitName,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit
261,AK,38344AK1060001,38344AK1060001-01,Primary Care Visit to Treat an Injury or Illness,Yes,Covered,No,NaN,NaN
262,AK,38344AK1060001,38344AK1060001-01,Specialist Visit,Yes,Covered,No,NaN,NaN
263,AK,38344AK1060001,38344AK1060001-01,"Other Practitioner Office Visit (Nurse, Physic...",Yes,Covered,No,NaN,NaN
264,AK,38344AK1060001,38344AK1060001-01,"Outpatient Facility Fee (e.g., Ambulatory Surg...",Yes,Covered,No,NaN,NaN
265,AK,38344AK1060001,38344AK1060001-01,Outpatient Surgery Physician/Surgical Services,Yes,Covered,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2219375,WV,50328WV0020027,50328WV0020027-03,Treatment for Temporomandibular Joint Disorders,Yes,Covered,NaN,NaN,NaN
2219376,WV,50328WV0020027,50328WV0020027-03,Nutritional Counseling,Yes,Covered,NaN,NaN,NaN
2219377,WV,50328WV0020027,50328WV0020027-03,Reconstructive Surgery,Yes,Covered,NaN,NaN,NaN
2219378,WV,50328WV0020027,50328WV0020027-03,Gender Affirming Care,NaN,Covered,NaN,NaN,NaN
2219379,WV,50328WV0020027,50328WV0020027-03,Chronic Pain Treatment,NaN,Covered,Yes,20.0,Visit(s) per Episode

In [35]:
df_benefits.shape

(2203786, 9)

In [36]:
df_benefits.isna().sum()

StateCode                    0
StandardComponentId          0
PlanId                       0
BenefitName                  0
IsEHB                   568248
IsCovered               124943
QuantLimitOnSvc        1602310
LimitQty               1911664
LimitUnit              1911631
dtype: int64

Haremos un filtro por los seguros que sí están cubiertos por le plan con la variable de IsCovered

In [37]:
df_benefits["IsCovered"].unique()

array(['Covered', 'Not Covered', nan], dtype=object)

In [38]:
df_benefits = df_benefits[df_benefits["IsCovered"] == "Covered"]
df_benefits.shape

(1702458, 9)

Haré una imputación para la columna de essencial

In [39]:
df_benefits["IsEHB"].unique()

array(['Yes', nan], dtype=object)

In [40]:
df_benefits["IsEHB"] = df_benefits["IsEHB"].fillna("No")
df_benefits.head(5)

C:\Users\chuzd\AppData\Local\Temp\ipykernel_2724\697531984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_benefits["IsEHB"] = df_benefits["IsEHB"].fillna("No")

,StateCode,StandardComponentId,PlanId,BenefitName,IsEHB,IsCovered,QuantLimitOnSvc,LimitQty,LimitUnit
261,AK,38344AK1060001,38344AK1060001-01,Primary Care Visit to Treat an Injury or Illness,Yes,Covered,No,NaN,NaN
262,AK,38344AK1060001,38344AK1060001-01,Specialist Visit,Yes,Covered,No,NaN,NaN
263,AK,38344AK1060001,38344AK1060001-01,"Other Practitioner Office Visit (Nurse, Physic...",Yes,Covered,No,NaN,NaN
264,AK,38344AK1060001,38344AK1060001-01,"Outpatient Facility Fee (e.g., Ambulatory Surg...",Yes,Covered,No,NaN,NaN
265,AK,38344AK1060001,38344AK1060001-01,Outpatient Surgery Physician/Surgical Services,Yes,Covered,No,NaN,NaN

In [41]:
df_benefits["IsCovered"].unique()

array(['Covered'], dtype=object)

In [42]:
df_benefits = df_benefits[[
    "StandardComponentId",
    "PlanId",
    "IsEHB"
]]
df_benefits.head()

    StandardComponentId             PlanId IsEHB
261      38344AK1060001  38344AK1060001-01   Yes
262      38344AK1060001  38344AK1060001-01   Yes
263      38344AK1060001  38344AK1060001-01   Yes
264      38344AK1060001  38344AK1060001-01   Yes
265      38344AK1060001  38344AK1060001-01   Yes

In [43]:
df_benefits_essential = df_benefits[df_benefits["IsEHB"]=="Yes"]
df_benefits_essential

        StandardComponentId             PlanId IsEHB
261          38344AK1060001  38344AK1060001-01   Yes
262          38344AK1060001  38344AK1060001-01   Yes
263          38344AK1060001  38344AK1060001-01   Yes
264          38344AK1060001  38344AK1060001-01   Yes
265          38344AK1060001  38344AK1060001-01   Yes
...                     ...                ...   ...
2219373      50328WV0020027  50328WV0020027-03   Yes
2219374      50328WV0020027  50328WV0020027-03   Yes
2219375      50328WV0020027  50328WV0020027-03   Yes
2219376      50328WV0020027  50328WV0020027-03   Yes
2219377      50328WV0020027  50328WV0020027-03   Yes

[1547759 rows x 3 columns]

In [44]:
df_benefits_NOessential = df_benefits[df_benefits["IsEHB"]=="No"]
df_benefits_NOessential

        StandardComponentId             PlanId IsEHB
293          38344AK1060001  38344AK1060001-01    No
318          38344AK1060002  38344AK1060002-01    No
335          38344AK1060002  38344AK1060002-04    No
391          38344AK1060001  38344AK1060001-01    No
411          38344AK1060001  38344AK1060001-02    No
...                     ...                ...   ...
2219321      50328WV0020027  50328WV0020027-03    No
2219362      50328WV0020027  50328WV0020027-03    No
2219364      50328WV0020027  50328WV0020027-03    No
2219378      50328WV0020027  50328WV0020027-03    No
2219379      50328WV0020027  50328WV0020027-03    No

[154699 rows x 3 columns]

In [45]:
df_essential_count = df_benefits_essential.groupby(["StandardComponentId", 
                                                    "PlanId"]).size().reset_index(name='counts').rename(columns={"counts":"EssecialsBenfits"})
df_essential_count

      StandardComponentId             PlanId  EssecialsBenfits
0          10091OR0750002  10091OR0750002-00                52
1          10091OR0750002  10091OR0750002-01                52
2          10091OR0750002  10091OR0750002-02                52
3          10091OR0750002  10091OR0750002-03                52
4          10091OR0750003  10091OR0750003-00                52
...                   ...                ...               ...
30939      99969OH0080438  99969OH0080438-03                54
30940      99969OH0080440  99969OH0080440-00                54
30941      99969OH0080440  99969OH0080440-01                54
30942      99969OH0080440  99969OH0080440-02                54
30943      99969OH0080440  99969OH0080440-03                54

[30944 rows x 3 columns]

In [46]:
df_essential_count["EssecialsBenfits"].unique()

array([52, 53, 50, 46, 55, 47, 56, 51, 48, 43, 49, 44, 54, 45, 22],
      dtype=int64)

In [47]:
df_NOessential_count = df_benefits_NOessential.groupby(["StandardComponentId", 
                                                    "PlanId"]).size().reset_index(name='counts').rename(columns={"counts":"NoEssecialsBenefits"})
df_NOessential_count

      StandardComponentId             PlanId  NoEssecialsBenefits
0          10091OR0750002  10091OR0750002-00                    3
1          10091OR0750002  10091OR0750002-01                    3
2          10091OR0750002  10091OR0750002-02                    3
3          10091OR0750002  10091OR0750002-03                    3
4          10091OR0750003  10091OR0750003-00                    3
...                   ...                ...                  ...
27563      99969OH0080438  99969OH0080438-03                    1
27564      99969OH0080440  99969OH0080440-00                    1
27565      99969OH0080440  99969OH0080440-01                    1
27566      99969OH0080440  99969OH0080440-02                    1
27567      99969OH0080440  99969OH0080440-03                    1

[27568 rows x 3 columns]

In [48]:
df_benefits2 = df_essential_count.merge(df_NOessential_count, how="inner", left_on="PlanId", right_on="PlanId")
df_benefits2 = df_benefits2[[
    "StandardComponentId_x",
    "PlanId",
    "EssecialsBenfits",
    "NoEssecialsBenefits"
]].rename(columns={"StandardComponentId_x":"StandardComponentId"})

df_benefits2

,StandardComponentId,PlanId,EssecialsBenfits,NoEssecialsBenefits
0,10091OR0750002,10091OR0750002-00,52,3
1,10091OR0750002,10091OR0750002-01,52,3
2,10091OR0750002,10091OR0750002-02,52,3
3,10091OR0750002,10091OR0750002-03,52,3
4,10091OR0750003,10091OR0750003-00,52,3
...,...,...,...,...
27563,99969OH0080438,99969OH0080438-03,54,1
27564,99969OH0080440,99969OH0080440-00,54,1
27565,99969OH0080440,99969OH0080440-01,54,1
27566,99969OH0080440,99969OH0080440-02,54,1
27567,99969OH0080440,99969OH0080440-03,54,1

# Union de las tablas

Vamos a filtrar las tablas por las caraterísticas de los perfiles de cada estados

In [135]:
df_profiles = pd.read_csv("DataSegurosP/profiles.csv").sort_values(by="id_profile")
df_profiles

,id_profile,code,age_min,age_max,occupients,income_min,income_max,status,category
0,0,AZ,25,29,2,50000,74999,single,Female
7,1,FL,55,59,2,100000,149999,single,Female
1,2,GA,10,14,2,50000,74999,single,Female
2,3,IL,35,39,2,100000,149999,single,Female
8,4,MI,20,24,2,50000,74999,single,Female
3,5,NC,15,19,2,50000,74999,single,Female
9,6,OH,60,64,2,100000,149999,single,Female
4,7,TN,25,29,2,50000,74999,single,Female
5,8,TX,10,14,2,50000,74999,single,Female
6,9,VA,35,39,2,100000,149999,single,Female

Filtraremos la tabla de rates

In [81]:
state_codes = df_profiles["code"].unique()
state_codes

array(['AZ', 'FL', 'GA', 'IL', 'MI', 'NC', 'OH', 'TN', 'TX', 'VA'],
      dtype=object)

In [122]:
def filtro(df_rates, df_profiles, state_c):

    # Obtención de rangod de Edad y de Income de los salarios
    age_min = df_profiles[df_profiles["code"] == state_c]["age_min"].values[0]
    age_min

    age_max = df_profiles[df_profiles["code"] == state_c]["age_max"].values[0]
    age_max

    income_min = df_profiles[df_profiles["code"] == state_c]["income_min"].values[0]
    income_min

    income_max = df_profiles[df_profiles["code"] == state_c]["income_max"].values[0]
    income_max


    # Filtro por edad e Income del perfil del estado
    df_n = df_rates[df_rates["StateCode"] == state_c]
    df_n = df_n[(df_n["Age"] >= age_min) & (df_n["Age"] <= age_max)]
    df_n = df_n[(df_n["income_anualy"] >= income_min) & (df_n["income_anualy"] <= income_max)]

    return df_n

In [167]:
df_rates2 = pd.DataFrame()

for state in state_codes: 
    print(state)
    new = filtro(df_rates, df_profiles, state).reset_index(drop=True)
    df_rates2 = pd.concat([df_rates2, new], ignore_index=True)
df_rates2.shape

AZ
FL
GA
IL
MI
NC
OH
TN
TX
VA

(22255, 8)

In [173]:
df_rates2.head()

,StateCode,IssuerId,StandardComponentId,Age,rate,rate_category,income_monthly,income_anualy
0,AZ,13877,13877AZ0070002,25,263.51,Individual,5270.2,63242.4
1,AZ,13877,13877AZ0070002,26,268.76,Individual,5375.2,64502.4
2,AZ,13877,13877AZ0070002,27,275.06,Individual,5501.2,66014.4
3,AZ,13877,13877AZ0070002,28,285.30,Individual,5706.0,68472.0
4,AZ,13877,13877AZ0070002,29,293.69,Individual,5873.8,70485.6

Eliminaremos los duplicados antes de hacer los join entre las tablas

In [181]:
df_rates2 = df_rates2.drop_duplicates().reset_index(drop=True)
df_rates2.shape

(20393, 8)

In [182]:
df_benefits2 = df_benefits2.drop_duplicates().reset_index(drop=True)
df_benefits2.shape

(27568, 4)

In [183]:
df_atributes = df_atributes.drop_duplicates().reset_index(drop=True)
df_atributes.shape

(30944, 21)

In [184]:
df_brules = df_brules.drop_duplicates().reset_index(drop=True)
df_brules.shape

(6366, 7)

Haremos un filtro por los StandardComponentId de la tabla de rates

In [186]:
# Filtro para los seguros
df_filtro = df_rates2["StandardComponentId"].drop_duplicates()
df_filtro.shape

(1771,)

In [194]:
df_atributes = df_atributes[df_atributes["StandardComponentId"].isin(df_filtro)]

In [195]:
df_benefits2 = df_benefits2[df_benefits2["StandardComponentId"].isin(df_filtro)]

In [196]:
df_brules = df_brules[df_brules["StandardComponentId"].isin(df_filtro)]

In [207]:
df_benefits2

,StandardComponentId,PlanId,EssecialsBenfits,NoEssecialsBenefits
47,10207VA0380001,10207VA0380001-00,53,4
48,10207VA0380001,10207VA0380001-01,53,4
49,10207VA0380001,10207VA0380001-02,53,4
50,10207VA0380001,10207VA0380001-03,53,4
51,10207VA0380001,10207VA0380001-04,53,4
...,...,...,...,...
27274,99969OH0080329,99969OH0080329-01,54,1
27323,99969OH0080339,99969OH0080339-00,54,1
27324,99969OH0080339,99969OH0080339-01,54,1
27373,99969OH0080349,99969OH0080349-00,54,1
27374,99969OH0080349,99969OH0080349-01,54,1

Union de las columnas

In [215]:
df_seguros = df_rates2.merge(df_atributes, how="left", left_on="StandardComponentId", right_on="StandardComponentId")

df_seguros = df_seguros.merge(df_brules, how="left", left_on="StandardComponentId", right_on="StandardComponentId")

df_seguros = df_seguros.merge(df_benefits2, how="left", left_on="PlanId", right_on="PlanId")

df_seguros.drop_duplicates()

df_seguros.shape

(93792, 37)

In [216]:
df_seguros.to_csv("DataSegurosP/seguros.csv", index=False)

In [218]:
df_seguros["MedicalDentalBoth"].unique()

array(['Medical', 'Both'], dtype=object)

In [223]:
df_seguros[["PlanExpirationDate","StateCode"]].isna().sum()

PlanExpirationDate    52492
StateCode                 0
dtype: int64

In [226]:
df_seguros["OutOfCountryCoverage"].unique()

array(['Yes', 'No'], dtype=object)

# FIN DE LIMPIEZA DE SEGUROS