## Exploracion de la data del censo

In [1]:
import pandas as pd
import numpy as np

In [2]:
states = ['CA', 'TX', 'FL', 'NY', 'PA', 'IL', 'OH', 'GA', 'NC', 'MI', 'NJ', 'VA', 'WA', 'AZ', 'MA', 'TN']

In [9]:
df_EdadSex = pd.read_excel("DataCensus/EdadSexo.xlsx", sheet_name = "Data")
df_EdadSex.head()

,Unnamed: 0,Arizona,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168
0,NaN,Total,NaN,Percent,NaN,Male,NaN,Percent Male,NaN,Female,...,Percent,NaN,Male,NaN,Percent Male,NaN,Female,NaN,Percent Female,NaN
1,Label,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,...,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error,Estimate,Margin of Error
2,Total population,"7,276,316",*****,(X),(X),"3,629,620","±2,852",(X),(X),"3,646,696",...,(X),(X),"3,897,320","±3,977",(X),(X),"3,841,372","±3,977",(X),(X)
3,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Under 5 years,"402,255","±1,323",5.5%,±0.1,"203,199","±1,688",5.6%,±0.1,"199,056",...,5.6%,±0.1,"222,442","±2,647",5.7%,±0.1,"210,082","±2,356",5.5%,±0.1

In [15]:
df_EdadSex.columns[0:20]

Index(['Unnamed: 0', 'Arizona', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'California',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')